<div class="ng-dash">
  
  <div class="wrap">
    <a class="btn waves-effect waves-light dropdown-button red lighten-3" href="#" data-activates="filter-dropdown" data-constrainWidth="false">
      <i class="material-icons left">filter_list</i>
      Filtros
    </a>
    
    <ul id="filter-dropdown" class="dropdown-content">
      <li>
        <a href="#!"><i class="material-icons">sort_by_alpha</i>Ordem alfabética</a>
      </li>
      <li>
        <a href="#!"><i class="material-icons">timer</i>Mais Recentes</a>
      </li>
    </ul>


    <!-- <div class="chip">
      Tag
      <i class="close material-icons">close</i>
    </div> -->

  </div>

  <div class="wrap">

    <app-candidate></app-candidate>
    
  </div>

</div>