<section  id="particles-js" class="fullHeight">

  <div class="wrap mid">
    <h1 class="title">PlaceHolder</h1>
    <h2 class="subtitle"> Carreiras</h2>
    <p class="desc">"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
    <br>
    <br>
    <a routerLink="/careers" class="btn btn-pill"><i class="material-icons md-18">search</i> Consultar vagas</a>

  </div>
  <div class="wrap bottom">
    <a class="btn btn-more"><span class="material-icons md-24">keyboard_arrow_down</span></a>
  </div>

</section>
